#outer {
    width: 1250px;
    margin: 0 auto;
	padding-top: 10px;
}

#outer .container {
	width: 1200px;	
}

.player, .info {
    cursor: pointer;
    padding: 5px;
}

.tournaments {
	width: 550px;
	margin-left: 10px;
	float: left;
}

.leaderboard {
	border-style: solid;
    border-color: #ccc;
    border-width: 2px;
	border-radius: 20px 10px;
	width: 550px;
	margin-left: 10px;
	float: right;
}

.player .name, .info .name{
	display: inline-block;        
    font-size: 1.75em;	
}

.info .game {
    display: inline-block;
	font-size: 1.25em;
	height: 14px;
	vertical-align: bottom;
}

.player .score {
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
}

.buttons {
	float: right;
}

input {
	margin-right: 20px;
}

li {
	font-size: 16px;
	font-weight: 500;
}

.dropdown-menu li:hover {
	background-color: #7E7DAC
}

.explain {
    font-size: 1.45em;
    border-style: none dashed dashed dashed;
    border-color: #ccc;
    border-width: 2px;
	border-radius: 20px 10px;
    margin: 0px 0px 20px 0px;
    padding: 4px;
	
}

.details, .none {
	font-size: 1.45em;
	border-style: none none dashed none;
	border-color: #ccc;
	border-width: 2px;
	border-radius: 5px 2px;
	margin: 0px 10px;
    padding: 10px;	
	margin-bottom: 5px;	
}

.none {
    color: #777;
}

.inc, .dec {
  cursor: pointer;
}

.accountinfo {
	font-size: 1.4em;
	margin-bottom: 0px;
}

/* d3 section */

.d3vis {	
	float: left;
	padding-right: 5px;
}

text {
	fill: #EBEBEB;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/*  Font fix */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


